.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 200px; */
    height: 600px;
    /* padding: 10rem 10rem; */
    /* margin: 0 0rem; */
  }

.container button {
    padding: 0.5rem 1rem;
  }
